<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/style/tailwind.css" >
    <link rel="stylesheet" href="/static/style/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" >

    <link rel="stylesheet" href="/static/style/hljs.min.css" >
    <script src="/static/js/highlight.min.js"></script>

    <meta property="og:title" content="{{texto.title}}">
    <meta property="og:description" content="{{texto.description}}
    👀 {{ texto.views }} vues">
    <meta property="og:site_name" content="{{author.name}}">
    <meta property="og:image" content="{{author.avatar}}">


    <title>Texto</title>
</head>
<body>



<div class="h-screen">
    <div class="flex h-full flex-col">
        <div class="flex h-auto justify-between bg-gray-800 py-2 text-2xl text-white">
            <div class="flex-1 italic">
                <span class="ml-4">TEXTO</span>
            </div>
            <div class="flex flex-1 items-center justify-center space-x-2">
                <button id="menu-copy" class="h-6 w-6 tooltip"><i class="fa-regular fa-clipboard"></i>
                    <div class="bottom">
                        <p>Copier</p>
                    </div>
                </button>
                <button id="menu-raw" class="h-6 w-6 tooltip"><i class="fa-regular fa-file-lines"></i>
                    <div class="bottom">
                        <p>raw</p>
                    </div>
                </button>
                <button id="menu-duplicate" class="h-6 w-6 tooltip"><i class="fa-regular fa-clone"></i>
                    <div class="bottom">
                        <p>Dupliquer</p>
                    </div>
                </button>
                <button id="menu-new" class="h-6 w-6 tooltip"><i class="fa-solid fa-plus"></i>
                    <div class="bottom">
                        <p>Nouveau</p>
                    </div>
                </button>
{{#connected.canDelete}}
                <button id="menu-delete" class="h-6 w-6 tooltip"><i class="fa-regular fa-trash-can"></i>
                     <div class="bottom">
                        <p>Supprimer</p>
                    </div>
                </button>
{{/connected.canDelete}}
                <button id="menu-git" class="h-6 w-6 tooltip"><i class="fa-brands fa-github"></i>
                    <div class="bottom">
                        <p>Github</p>
                    </div>
                </button>
            </div>
            <div class="flex flex-1 justify-end">
{{#connected.connected}}
                <img class="h-full w-8  mr-1 rounded-full" src="{{ connected.avatar }}" alt="avatar">
{{/connected.connected}}
{{^connected.connected}}
                <a href="/login"><div class="px-2 mr-1 bg-gray-700 rounded-lg">Login</div></a>
{{/connected.connected}}
            </div>
        </div>
        <div class="flex flex-1 overflow-y-auto bg-gray-700 p-4 text-white">
            <div class="flex-1">
                <div class="flex flex-row">
                    <div class="flex-col" id="number-list">
                        <!-- générer automatiquement selon le nombre de lignes -->
                    </div>
                    <pre><code id="codeZone">{{ texto.content }}</code></pre>
                </div>
            </div>

            <div class="fixed top-16 right-3 w-96">
                <div class="fixed right-18 flex h-auto w-96 flex-col items-center space-y-5 rounded-xl bg-gray-800 p-6">
                    <a href="/author/{{ author.cleanName }}">
                        <img class="h-40 w-40 rounded-full" src="{{ author.avatar }}" alt="avatar">
                    </a>
                    <a href="/author/{{ author.cleanName }}">
                        <div class="text-3xl">{{ author.name }}</div>
                    </a>
                    <div class="flex w-full justify-around rounded-lg bg-gray-700 p-3">
                        <span>{{ author.textos }} textos</span>
                        <span>{{ author.views }} vues</span>
                    </div>
                    <div
                            id="socialMedia"
                            class="flex w-full justify-around border-b border-gray-700 px-8 pb-6"
                            data-social="{{ author.social }}"
                    ></div>
                    <div class="flex flex-col space-y-4 rounded-lg bg-gray-700 p-4 text-center w-full">
                        <span class="text-lg">{{ texto.title }}</span>
                        <div class="text-gray-400">{{ texto.description }}</div>
                        <div class="text-gray-600">{{ texto.views }} vues</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/code.js"></script>
</body>
</html>